header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 3em;
  width: 100vw;
  position: fixed;
  background: $navy;
  box-shadow: 1em 0em 1em rgba(0, 0, 0, 0.5);
  transition: 0.5s;

  .logo {
    & a {
      color: $blue;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
  & li {
    display: inline-block;
    margin-right: 2em;

    & a {
      & span {
        font-weight: bold;
        padding-right: 0.5em;
      }
      & p {
        display: inline-block;
      }
    }

    &.resume {
      margin-right: 0em;
    }
  }
  .menu-btn {
    top: 30px;
    width: 25px;
    display: none;
    transition: width 0.5s ease-in, transform 0.5s ease-in,
      background 0s ease-in;

    &,
    &::before,
    &::after {
      position: fixed;
      height: 4px;
      right: 20px;
      background: $blue;
      cursor: pointer;
    }

    &::before {
      content: "";
      position: fixed;
      top: 20px;
      width: 30px;
    }

    &::after {
      content: "";
      top: 40px;
      width: 20px;
    }

    &.open {
      &::before {
        transform: rotate(-45deg) translateX(-8.75px) translateY(5px);
      }
      &::after {
        width: 30px;
        transform: rotate(45deg) translateX(-8.75px) translateY(-5px);
      }
      background: $navy;
    }
  }
}
@include tablet {
  header {
    padding: 1em;
    position: fixed;
    z-index: 1;

    & .menu {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 50vw;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      background: $navy;
      box-shadow: 0em 1em 1em rgba(0, 0, 0, 0.95);
      transform: translateX(100vw);
      transition: all 0.5s ease-in-out;

      &.open {
        transform: translateX(50vw);
      }

      & li {
        display: initial;
        margin-right: 0em;

        & a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          & span {
            text-align: center;
            padding-right: 0;
          }
          & p {
            text-align: center;
          }
        }
      }
    }
    .menu-btn {
      display: block;
    }
  }
}
@include phone {
  header {
    & .menu {
      width: 75vw;
      transform: translateX(100vw);

      &.open {
        transform: translateX(25vw);
      }
    }
  }
}
