$navy: #0e161f;
$blue: #00d2fa;
$purple: #fa557d;
$orange: #ff916e;
$white: #fff;
$darkgray: #a8b2d1;
$yellow: #ffd152;
$gray: #d3d3d3;
$green: #50e191;
$font-mono: "Roboto Mono", san-serif;

@mixin laptop {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 425px) {
    @content;
  }
}
