@import "./config";
@import "./variables";
@import "./header";
@import "./hero";
@import "./about";
@import "./contact";
@import "./social";
@import "./experience";
@import "./work";
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  counter-reset: section;
  color: $gray;
  background: $navy;
  font-family: "Poppins", sans-serif;
}
p {
  font-size: 1.1rem;
}
a {
  color: $blue;

  &.btn {
    padding: 0.75em 1em;
    border-radius: 5px;
    border: 1px solid $blue;
    font-family: $font-mono;
  }
}
span {
  color: $green;
}
h2 {
  color: $green;

  & a:hover {
    text-decoration: underline;
  }
  span {
    font-family: "Poppins", sans-serif;
  }
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
span {
  font-family: $font-mono;
}
.title {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  white-space: nowrap;
  color: $gray;

  &::before {
    color: $green;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    font-family: $font-mono;
    font-size: 1.25rem;
    padding-right: 0.5em;
  }

  &::after {
    content: "";
    display: block;
    position: relative;
    top: 5%;
    height: 1px;
    width: 300px;
    margin-left: 0.5em;
    background: $darkgray;
  }
}
section {
  min-height: 100vh;
  display: grid;
  place-content: center;

  & a {
    color: $blue;
  }

  & li {
    display: flex;
    align-items: flex-start;
    font-size: 1.1rem;
    margin-bottom: 0.75em;

    &::before {
      content: "\f0da";
      font-family: "FontAwesome";
      display: inline-block;
      color: $green;
      margin-top: 0.25em;
      margin-right: 0.75em;
    }
  }
}
footer {
  padding: 2em;
  font-size: 0.85rem;
  text-align: center;
  font-family: $font-mono;
}
@include laptop {
  section {
    padding: 100px;
  }
}

@include tablet {
  section {
    padding: 80px;
  }
  .title {
    &::after {
      width: 350px;
    }
  }
  footer {
    padding: 0.5em 2em 1em 2em;
  }
}
@include phone {
  section {
    padding: 1.5em;
  }
  p {
    font-size: 0.95rem;
  }
  .title {
    font-size: 1.35rem;

    &::before {
      font-size: 1rem;
    }

    &::after {
      width: 90%;
    }
  }
}
