.form {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1em;
  max-width: 300px;
  margin: 4em 0em;

  &-inputs,
  &-title {
    display: flex;
    gap: 2em;
    width: 100%;
    overflow: hidden;
  }

  &-title {
    justify-content: center;
    margin-bottom: 1em;
    padding-bottom: 1em;
    position: relative;

    h3 {
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      width: 30%;
      height: 5px;
      background: $white;
      left: 15%;
      bottom: 0;
      transition: all 0.65s ease-in;
    }

    &.open {
      &::after {
        transform: translateX(95px);
      }
    }
  }

  &-inputs {
    .login,
    .register {
      transition: all 0.65s ease-in;
    }
    &.open {
      .login,
      .register {
        transform: translateX(-297.5px);
      }
    }
  }

  .login,
  .register {
    min-width: 100%;
  }

  input {
    width: 100%;
    padding: 1em;
    color: white;
    margin: 0.5em 0em;
    border-radius: 100vw;
    border: 1px solid $white;
    background: rgba(255, 255, 255, 0);

    &::placeholder {
      color: $white;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
    }

    &:focus {
      outline: none;
    }
  }
  .submit {
    width: 100%;
    color: white;
    text-align: center;
    background: $circle-gradient;
    padding: 0.5em;
    border-radius: 100vw;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.15rem;
    cursor: pointer;
  }
}
