.products {
  padding-top: 5em;

  .product-contents {
    padding: 2em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product-pages {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    padding: 1em;

    a {
      color: $white;
      height: 40px;
      width: 40px;
      font-weight: 500;
      display: grid;
      place-content: center;
      border: 1px solid $white;

      &:hover {
        background: $circle-gradient;
        border: none;
      }
    }
  }
  &.related {
    padding-top: 0em;
  }
}
