.products {
  padding-top: 5em;

  .product-contents {
    padding: 2em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    select {
      color: $black;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      padding: 0.5em 0.75em;
      box-shadow: rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.4);

      &:focus {
        outline: none;
      }
    }
  }

  .product-pages {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    padding: 1em;

    a {
      color: $white;
      height: 40px;
      width: 40px;
      font-weight: 500;
      display: grid;
      place-content: center;
      border: 1px solid $white;

      &:hover {
        background: $circle-gradient;
        border: none;
      }
    }
  }
}
