$transition: all 300ms ease-in;
$body-gradient: linear-gradient(to right, #141e30, #243b55);
$circle-gradient: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
$white: #fff;
$black: #161616;
$blue: #fff;
